    body {
      background-color: #dbe2ef;
    }

    img {
      border-radius: 50%;
    }

    hr {
      border-style: none;
      border-top-style: dotted;
      border-width: 5px;
      border-color: grey;
      width: 4%;
    }

    h1 {
      color: #112d4e;
    }

    h3 {
      color: #3f72af;
    }

    a {
      color: #11999E;
      font-family: 'Montserrat', sans-serif;
      margin: 10px 20px;
      text-decoration: none;
    }

    a:hover {
      color: #EAF6F6;
    }